.container {
    display: flex;
    justify-content: center;

}

.center {
    text-align: center;

}

.hide {
    display: none;
}

#game-area {
    display: flex;

}


.box{
    height: 200px;
    width: 200px;
    background-color: #b3b3b3;
    margin: 50ps;
    cursor: pointer;
}

/* 
.bigger {
    height: 1000px;
    width: 400px;
    background-color: pink;
    display: flex;
} */