.container {
    display: flex;
    justify-content: center;

}

.center {
    text-align: center;

}

.hide {
    display: none;
}
/* 
.bigger {
    height: 1000px;
    width: 400px;
    background-color: pink;
    display: flex;
} */